# This should be similar to proper 'netd' below, this is merely a quick self test during bootup.
# If this invocation fails during a mainline module update it should trigger a module rollback.
service netd1shot /system/bin/netd oneshot
    disabled # only started once bpf programs are loaded
    class main
    capabilities CHOWN DAC_OVERRIDE DAC_READ_SEARCH FOWNER IPC_LOCK KILL NET_ADMIN NET_BIND_SERVICE NET_RAW SETUID SETGID
    user root
    group root net_admin
    rlimit memlock 1073741824 1073741824
    updatable
    # these two only apply to 'netd1shot'
    oneshot
    reboot_on_failure reboot,netd1shot-fail

# Keep in sync with 'netd1shot' above.
service netd /system/bin/netd
    disabled # only started once bpf programs are loaded
    class main
    capabilities CHOWN DAC_OVERRIDE DAC_READ_SEARCH FOWNER IPC_LOCK KILL NET_ADMIN NET_BIND_SERVICE NET_RAW SETUID SETGID
    user root
    group root net_admin
    # apparently some older kernels do not honour CAP_IPC_LOCK for eBPF map allocation
    rlimit memlock 1073741824 1073741824
    # sockets are only needed for the 'real' netd
    socket dnsproxyd stream 0660 root inet
    socket mdns stream 0660 root system
    socket fwmarkd stream 0660 root inet
    # netd is not updatable, but depends on libs provided by tethering apex.
    # Mark it as updatable so init won't start it until all APEX packages are ready.
    updatable
    # for obvious reasons 'onrestart' doesn't apply to netd1shot above
    onrestart restart zygote
    onrestart restart zygote_secondary

# Moved from external/android-clat/vendor-464xlat.rc. Since
# clatd is modularized and shipped in apex, migrate the
# clat vendor property to netd.
#
# Certain vendors disable 464xlat by setting a vendor property.
# The connectivity code in the Tethering APEX needs to disable
# 464xlat when the property is set, but it is only allowed to
# access non-vendor system properties. So copy the property to
# a property available to system APIs in android.sysprop.
#
# Arguably this script should live close to the code that uses
# it, but scrips in APEXes are not allowed to use "on property".
# So put it here close to clatd, which is at least related to
# 464xlat.
on property:persist.vendor.net.doxlat=true
    setprop net.464xlat.cellular.enabled true

on property:persist.vendor.net.doxlat=false
    setprop net.464xlat.cellular.enabled false
